.leftContainer {
  display: flex;
  flex: 2 1 auto;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
}

.rightContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid gray;
}

.logoImg {
  width: 250px;
}

.aboutContainer {
}

.socialMediaContainer {
  font-size: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.socialMediaIcon {
  margin-left: 5px;
  margin-right: 5px;
}

Link {
  color: red;
}
