.home {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.building {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

.videoContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.video {
  display: flex;
  flex: 4;
}

.videoTextContainer {
  display: flex;
  flex: 2;
  flex-direction: column;
}

.linksContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.imageContainer {
  height: 25px;
  width: 25px;
}

Link {
  color: red;
}
