.leftContainer {
  display: flex;
  flex: 2 1 auto;
  align-items: center;
  justify-content: center;
}

.rightContainer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  border-left: 1px solid gray;
}

.logoImg {
  width: 250px;
}

i:hover {
  color: #fff107;
}
.socialMediaContainer {
  font-size: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.socialMediaIcon {
  margin-left: 10px;
  margin-right: 10px;
}

.responsiveSocialMediaIcon {
  margin-left: 20px;
  margin-right: 20px;
}

.arrowSpacing {
  margin-bottom: 20px;
}
